ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.produkt > * {
  margin: 0;
}

.productlist article .discounted {
  display: none;
}

.productlist article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 800px) {
  ol {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .productlist main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .productlist main h2 {
    grid-column: span 3;
  }

  .product_information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
