* {
  box-sizing: border-box;
  color: #eb3d00;
  font-family: Oswald;
  background-color: #f6f5f1;
}

body {
  margin: 7%;
}

img {
  display: block;
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
}

h2.category {
  font-size: 48px;
}

a:link {
  color: #eb3d00;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
}

ol li {
  padding: 2em 3em;
  border: 1px solid;
  border-color: #eb3d00;
  border-radius: 40px;
  list-style-type: none;
  text-align: center;
}

a.read_more {
  margin-bottom: 40px;
  margin-top: 20px;
  border-color: #eb3d00;
  border: 1px solid;
  padding: 1rem 2rem;
  width: fit-content;
  border-radius: 20px;
}

ul.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
  font-size: 16px;
  font-weight: lighter;
}

ul.breadcrumbs li {
  display: inline;
}

ul.breadcrumbs li + li:before {
  padding: 8px;
  color: #eb3d00;
  content: "/\00a0";
}

dl {
  font-weight: 300;
  line-height: 200%;
}

.purchaseBox {
  font-weight: 300;
  line-height: 200%;
  border: 1px solid;
  padding: 1rem;
  border-radius: 10px;
  height: fit-content;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

.productlist article.soldOut img {
  opacity: 0.5;
}

.smallProduct {
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
}

p.subtle {
  color: #777677;
  font-weight: 100;
}

@media (max-width: 800px) {
  .purchaseBox {
    margin-top: 20px;
  }
}

@font-face {
  font-family: "Oswald";
  src: url(Oswald/Oswald-VariableFont_wght.ttf);
}
